.hero {
  position: relative;
  background: url("../../../public/pattern.svg");
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    filter: blur(15rem);
    pointer-events: none;
  }

  &::before {
    top: 0;
    right: 0;
    background: var(--pink);
  }

  &::after {
    bottom: 0;
    left: 0;
    background: var(--blue);
  }

  .container {
    position: relative;

    .text-lg {
      font-size: 10vw;
      text-transform: uppercase;
      opacity: 25%;
      position: absolute;
      width: 100%;
      white-space: nowrap;
      pointer-events: none;
    }

    .first {
      top: 0;
      left: 5rem;
    }

    .second {
      right: 5rem;
      bottom: 0;
      text-align: right;
    }

    .panels {
      height: calc(100vh - 8rem);
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .panel {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        color: var(--text);

        &.left {
          .legend {
            position: relative;
            margin: 2rem 0;
            padding-left: 2rem;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 0.4rem;
              border-radius: 0.4rem;
              background: linear-gradient(
                var(--primary),
                var(--primary),
                transparent
              );
            }

            h1 {
              font-size: 4.2rem;
              font-weight: 700;
              color: var(--white);
              margin-bottom: 1rem;
            }

            p {
              font-size: 1.6rem;
              display: flex;
              white-space: nowrap;

              .typed {
                background: transparent;
                padding: 0;
                border: 0;
                outline: 0;
                font-size: 1.6rem;
                font-weight: bold;
              }
            }
          }
        }

        &.right {
          position: relative;
          justify-content: center;
        }
      }
    }
  }
}

// Responsive
@media only screen and (max-width: 1024px) {
  .hero {
    .container {
      .first {
        left: 3rem;
      }

      .second {
        right: 3rem;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .hero {
    &::before,
    &::after {
      height: 15rem;
      width: 15rem;
      filter: blur(10rem);
    }

    .container {
      .panels {
        .panel {
          &.left {
            h1 {
              font-size: 3.6rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .hero {
    &::before,
    &::after {
      height: 10rem;
      width: 10rem;
      filter: blur(8rem);
    }

    .container {
      .first {
        left: 2rem;
      }

      .second {
        right: 2rem;
      }

      .panels {
        height: calc(100vh - 7.5rem);

        .panel {
          width: 100%;

          &.left {
            .legend {
              h1 {
                font-size: 2.8rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .hero {
    .container {
      .panels {
        .panel {
          &.left {
            .legend {
              h1 {
                font-size: 2.4rem;
              }
            }
          }
        }
      }
    }
  }
}
