.hero {
  position: relative;
  background: url("../../../public/pattern.svg");
  background-size: 100% 100%;
  overflow: hidden;

  .panels {
    height: calc(100vh - 8rem);
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .panel {
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      color: var(--text);

      &.left {
        .legend {
          position: relative;
          margin: 2rem 0;
          padding-left: 2rem;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0.4rem;
            border-radius: 0.4rem;
            background: linear-gradient(
              var(--primary),
              var(--primary),
              transparent
            );
          }

          h1 {
            font-size: 3.6rem;
            font-family: "Playwrite In";
            font-weight: 500;
            line-height: 1.6;
            color: var(--white);
            margin-bottom: 1rem;
          }

          p {
            font-size: 1.6rem;

            .typed {
              background: transparent;
              padding: 0;
              border: 0;
              outline: 0;
              font-size: 1.6rem;
              font-weight: bold;
            }
          }
        }
      }

      &.right {
        position: relative;
        justify-content: center;

        .animation {
          height: 100vh;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .marquee {
            height: 100%;
            padding-left: 1rem;

            .inner {
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              writing-mode: vertical-lr;
              font-size: 3.6vw;
              font-weight: 700;
              color: var(--text);
            }
          }
        }
      }
    }
  }

  .rounded-button {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    height: 6rem;
    width: 6rem;
    background: var(--glass);
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: var(--white);
    font-size: 2rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 50%;
      background: conic-gradient(
        var(--primary),
        var(--lime),
        var(--pink),
        var(--primary)
      );
      animation: rotate 5s linear infinite;

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0.2rem;
      border-radius: 50%;
      background: var(--glass);
    }

    .icon {
      position: relative;
      z-index: 2;
    }
  }
}

// Responsive
@media only screen and (max-width: 991px) {
  .hero {
    .panels {
      .panel {
        &.left {
          h1 {
            font-size: 3.6rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .hero {
    .panels {
      height: calc(100vh - 7.5rem);

      .panel {
        height: 50vh;
        width: 100%;

        &.left {
          .legend {
            h1 {
              font-size: 2.8rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .hero {
    .panels {
      .panel {
        &.left {
          .legend {
            h1 {
              font-size: 2.4rem;
            }
          }
        }
      }
    }
  }
}