.skills-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

// Responsive
@media only screen and (max-width: 767px) {
  .skills-wrapper {
    margin: 0 -0.5rem;
  }
}
