.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .panel {
    min-height: 40rem;
    width: 50%;

    &.panel-left {
      position: relative;

      &.panel-left::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: var(--primary);
        opacity: 50%;
      }

      .image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0.4rem;
        vertical-align: middle;
      }

      .model {
        height: 100%;
        width: 30rem;
        object-fit: cover;
        mix-blend-mode: color-burn;
      }
    }

    &.panel-right {
      background: var(--glass);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3rem;

      form {
        width: 100%;

        .fields {
          display: flex;
          flex-wrap: nowrap;
          margin: 0 -1rem;

          .w-50 {
            width: 50%;
            padding: 1rem;
          }

          .field {
            position: relative;
            width: 100%;
            margin-bottom: 2rem;

            input,
            textarea {
              background: transparent;
              height: 6rem;
              width: 100%;
              padding-top: 1.4rem;
              border: 0;
              outline: 0;
              color: var(--white);
              font-size: 1.5rem;
              font-family: var(--font-geist-sans), sans-serif;
              border-bottom: 0.1rem solid var(--text);
            }

            textarea {
              resize: vertical;
              height: 100%;
            }

            label {
              position: absolute;
              top: 2rem;
              left: 0;
              font-size: 1.5rem;
              font-weight: 500;
              pointer-events: none;
              transition: 300ms all ease-in-out;
            }

            input:focus + label,
            textarea:focus + label,
            input:valid + label,
            textarea:valid + label {
              top: 0;
              color: var(--primary);
            }

            .animation {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              transform: scaleX(0);
              transform-origin: left;
              border-bottom: 0.1rem solid var(--primary);
              transition: 300ms all ease-in-out;
            }

            input:focus ~ .animation,
            textarea:focus ~ .animation {
              transform: scaleX(100%);
            }

            input::placeholder,
            textarea::placeholder {
              font-size: 1.5rem;
              font-weight: 500;
              font-family: var(--font-geist-sans), sans-serif;
            }
          }

          &.action {
            gap: 1rem;
            align-items: center;
          }

          .spinner {
            display: block;
            height: 2.4rem;
            width: 2.4rem;
            border-radius: 50%;
            border: 0.2rem solid var(--primary);
            border-top: 0.2rem solid transparent;
            animation: spin 1s linear infinite;
          }

          @keyframes spin {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }

          .msg {
            width: 100%;
            border-radius: 0.4rem;
            color: var(--white);
            padding: 1rem;
          }

          .msg.error {
            border: 0.1rem solid var(--red);
          }

          .msg.success {
            border: 0.1rem solid var(--lime);
          }
        }

        .w-full {
          padding: 1rem;
        }
      }
    }
  }
}

.contact-details-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -1rem;

  .panel {
    width: calc(100% / 3);
    padding: 1rem;

    article {
      position: relative;
      min-height: 17rem;
      padding: 2rem;
      background: linear-gradient(to right, var(--clr), transparent);
      border-radius: 0.4rem;

      &::before {
        content: "";
        position: absolute;
        inset: 0.1rem;
        border-radius: 0.4rem;
        background: var(--glass);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 90%;
        width: 0.4rem;
        background: var(--clr);
      }

      .group {
        position: relative;
        z-index: 2;

        h2 {
          color: var(--white);
          font-size: 2.2rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        .icon-box {
          display: flex;
          align-items: center;
          gap: 1rem;

          .icon {
            height: 3.6rem;
            width: 3.6rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: var(--clr);
            display: grid;
            place-items: center;
            font-size: 1.6rem;
            color: var(--white);
          }

          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }

        p {
          font-weight: 500;
          line-height: 1.6;

          a {
            color: var(--text);
            transition: 300ms all ease-in-out;

            &:hover {
              color: var(--white);
            }
          }
        }
      }
    }
  }
}

// Responsive
@media only screen and (max-width: 767px) {
  .contact-wrapper {
    .panel {
      width: 100%;

      &.panel-right {
        padding: 1.5rem;
      }

      .fields {
        .field {
          margin-bottom: 0;
        }
      }
    }
  }

  .contact-details-wrapper {
    margin: 0 -0.5rem;

    .panel {
      width: 50%;
      padding: 0.5rem;

      article {
        .group {
          h2 {
            font-size: 1.8rem;
          }

          .icon-box {
            .icon {
              height: 3.2rem;
              width: 3.2rem;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .contact-details-wrapper {
    .panel {
      width: 100%;

      article {
        min-height: unset;
        padding: 1.5rem;
      }
    }
  }
}